<h3>Create Song Form</h3>
<%= form_for(@song) do |f|%>
    <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    </div>
    <div>
    <%= f.label :artist_id %><br>
    <%= f.number_field :artist_id %>
    </div>
    <div>
    <%= f.label :genre_id %><br>
    <%= f.text_field :genre_id %>
    </div>
    <%= f.submit %>
<%end%>